<ion-menu contentId="main-content" side="start" menuId="main-menu">
  <ion-content>
    <div class="menu-logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>

    <ion-list>
      <ion-item button routerLink="">
        <ion-label>Ana Sayfa</ion-label>
      </ion-item>
      <ion-item button routerLink="">
        <ion-label>Siparişler</ion-label>
      </ion-item>
      <ion-item button routerLink="">
        <ion-label>Kampanyalar</ion-label>
      </ion-item>
    </ion-list>

    <div class="menu-footer">
      <ion-item button routerLink="">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Hesabım</ion-label>
      </ion-item>
    </div>
  </ion-content>
</ion-menu>
