<ion-card>
  <div class="card-inclusive">
    <div class="card-star-inclusive">
      <img src="../../assets/icon/star.svg" />
      <div class="star-text">{{rate}}</div>
    </div>
    <img class="card-image" alt="{{title}}" src="{{image}}" />
  </div>
  <ion-card-header>
    <ion-card-title>
      <p class="card-title-type">{{title}}</p>
      <p class="card-text-type">{{type}}</p>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <div class="card-content-inclusive">
      <div class="card-content-line">
        <div class="card-amount">
          <img
            class="card-amount-img"
            src="../../assets/icon/basket.svg"
            alt="basket"
          />
          <p class="card-text-amount">Min. Sipariş Tutarı: ₺{{minPrice}}</p>
        </div>
      </div>
      <div class="card-content-line">
        <p class="card-text-distance">{{kilometer}} km yakında</p>
        <p class="card-text-business">
          <span
            [ngClass]="status == 'open' ? 'card-text-business-green' : 'card-text-business-red'"
          >
            İşletme {{status == 'open' ? 'Açık' : 'Kapalı'}}
          </span>

          {{open}}/{{close}}
        </p>
      </div>
    </div>
  </ion-card-content>
</ion-card>
