<ion-card>
  <div class="card-inclusive">
    <div class="card-star-inclusive">
      <img src="../../assets/icon/star.svg" />
      <div class="star-text">4.9</div>
    </div>
    <img
      class="card-image"
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
  </div>
  <ion-card-header>
    <ion-card-title>
      <p class="card-title-type">Pastanesi Uzun Ad Demo</p>
      <p class="card-text-type">Coffee, Tatlı</p>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <div class="card-content-inclusive">
      <div class="card-content-line">
        <div class="card-amount">
          <img
            class="card-amount-img"
            src="../../assets/icon/basket.svg"
            alt="basket"
          />
          <p class="card-text-amount">Min. Sipariş Tutarı: ₺30</p>
        </div>
      </div>
      <div class="card-content-line">
        <p class="card-text-distance">3 km yakında</p>
        <p class="card-text-business">
          <span class="card-text-business-green">İşletme Açık</span>
          10:00/22:00
        </p>
      </div>
    </div>
  </ion-card-content>
</ion-card>
