<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/icon/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="center-title">Ana Sayfa</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img src="../../assets/icon/gift.svg" />
      </ion-button>
      <ion-button>
        <img src="../../assets/icon/order.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
